<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
        <div class="filter"></div>


                    <div class="m-auto">
                      <div class="card card-register">
                          <h3 class="title">Crie seu evento!</h3>
                          
                          <form class="register-form">
                              <label>Titulo</label>
                              <div>
                                  <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                          <i class="nc-icon nc-email-85"></i>
                                      </span>
                                    </div>
    
                                      <input type="email" class="form-control" [(ngModel)]="event.title" name="title" placeholder="Titulo" (focus)="focus=true" (blur)="focus=false" >
                                  </div>
                              </div>
                              <label>Descrição</label>
                              <div>
                                  <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                          <i class="nc-icon nc-email-85"></i>
                                      </span>
                                    </div>
    
                                      <input type="email" class="form-control" [(ngModel)]="event.description" name="description" placeholder="Descrição" (focus)="focus=true" (blur)="focus=false" >
                                  </div>
                              </div>
                              <label>Inicio</label>
                              <div class="input-group date" [ngClass]="{'input-group-focus':focus===true}">
                               
                                  <input [(ngModel)]="event.initAt" name="initAt" class="form-control" type="datetime-local" id="meeting-time"
                                        name="meeting-time" placeholder="Horario inicial">
                            </div>
                            <label>Fim</label>
                              <div class="input-group date" [ngClass]="{'input-group-focus':focus===true}">
                               
                                  <input [(ngModel)]="event.endAt" name="endAt" class="form-control" type="datetime-local" id="meeting-time"
                                        name="meeting-time" placeholder="Horario final">
                            </div>
                             
                              
                              <button *ngIf="!eventsEdit" class="btn btn-danger btn-block btn-round" (click)="onSubmit()">Registrar</button>
                              <button *ngIf="eventsEdit" class="btn btn-danger btn-block btn-round" (click)="onSubmit()">Editar</button>
                          </form>
                      </div>
                    </div>
          
                
        
    </div>
</div>
