<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Desafio Tokenlab</h1>
            <h3>Desenvolvido por Guilherme Jahnke</h3>
            <br />
        </div>
    </div>
</div>
<div class="main">
    <div class="section section-gray text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Um pouco sobre mim</h2>
                <h5 class="description">Tenho grande interesse em desenvolver minhas habilidades, sempre buscando evoluir e melhorar a qualidade do sistema, seguindo as melhores práticas.</h5>
                <br>
                <a href="https://www.guilhermejahnke.com.br/" class="btn btn-danger btn-round">Ver mais</a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-album-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">UI/UX</h4>
                        <p class="description">Gosto de desenvolver a parte visual do projeto, seja mobile ou web!</p>
                        <a href="https://www.guilhermejahnke.com.br/" class="btn btn-link btn-danger">Ver Mais</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Inovação</h4>
                        <p>Gosto de ter liberdade para inovar e desenvolver aplicações que surgem durante o projeto</p>
                        <a href="https://www.guilhermejahnke.com.br/" class="btn btn-link btn-danger">Ver Mais</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">BackEnd</h4>
                        <p>Gosto muito de desenvolver API's utilizando nodeJS, amo desenvolver minha lógica com desafios</p>
                        <a href="https://www.guilhermejahnke.com.br/" class="btn btn-link btn-danger">Ver Mais</a>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div>

</div>
