// @import "../../../node_modules/@fortawesome/fontawesome-free/css/all.css";
// @import "../../theme/global.scss";

body {
  height: 100%;
  overflow-x: hidden;
}

.content {
  //margin-bottom: 5rem;
  padding-top: 100px;
}
.white{
  color: white;
}
.padding {
  padding-left: inherit;
    padding-top: 10px;
   
}

.sidenav {
  width: 22%;
  box-shadow: 0px 28px 39px 13px rgba(0, 0, 0, 0.04) !important;
  border: none !important;
}

mat-nav-list {
  margin-top: 100px;
}

mat-drawer{
  background-color: rgba(18, 48, 76, 0.9);
 
}

mat-list-item {
  font-family: "ITC Avant Garde Std Bd";
  color:white;
  opacity: 0.6;
  margin-bottom: 10px;
  text-align: left;
  font-size: 0.9rem !important;
  i {
    font-size: 1.5rem;
    padding: 15px;
  }
}

mat-drawer-content {
  overflow-x: hidden !important;
}

mat-divider {
  margin: 15px !important;
}

.icon2 {
  max-width: 30px !important;
  padding: 15px;
  opacity: 1;
}

.is-active {
  //color: #8672f5 !important;
  color: #6c4ff7;
  opacity: 1;
}

.icon {
  max-width: 30px !important;
  padding: 15px;
  opacity: 0.8;
}

@media (max-width: 1023px) {

  .sidenav {
    width: 30%;
  }

  mat-nav-list {
    margin-top: 100px;
  }
}

@media (max-width: 500px) {

  .sidenav {
    width: 70%;
  }

}