<div class="home-content">
    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="sidenav" mode="side" opened="true">
            <mat-nav-list>
                <mat-list-item >
                    <i class="white fa fa-home"></i>
                    <p class="white padding">Início</p>
                    
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item >
                    <i class="white fa fa-calendar"></i>
                    <p class="white padding"> Calendario</p>
                   </mat-list-item>
               
            </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
            <div class="content" fxFlex="100" wmAnimate="landing" speed="slow" aos>
                <router-outlet></router-outlet>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>